/node_modules
/public/Frontend/node_modules
/public/hot
/public/.DS_Store
/public/storage
/public/sitemap
/public/js/app_employer.js
/public/js/app.js
/bootstrap/cache/*
/storage/*.key
/storage
/vendor
/.idea
/.vagrant
/.public
.git
pm2_local.yaml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store

/public/css/**
/public/js/**
